@charset "UTF-8";
.header .search {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.content-list .content .message .star li {
  position: absolute;
  left: 0;
  top: 0; }

body {
  background-color: #fafafa; }

.container {
  padding: 0 0.24rem;
  overflow: hidden; }

/*头部开始*/
.header {
  width: 100%;
  height: 1rem;
  background-color: #29a6dc;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000; }
  .header .search {
    width: 5.46rem;
    height: 54%;
    background-color: #f6f6f6;
    border-radius: 24px;
    overflow: hidden; }
    .header .search .icon {
      width: 10%;
      height: 100%;
      float: left;
      background: url("../images/icon_search_grey.png") center center no-repeat;
      background-size: 50%; }
    .header .search input {
      width: 90%;
      height: 100%;
      border: none;
      outline: none;
      background-color: transparent;
      color: #c4c4c4;
      font-size: 12px;
      padding-left: 4px;
      box-shadow: 0 0 10px #e5e5e5; }
  .header .return, .header .screen {
    left: 0.24rem;
    margin: 0.25rem 0; }
  .header .return {
    float: left; }
  .header .screen {
    float: right; }
  .header .return a, .header .screen a {
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    border: 1px solid #076cbe;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #fafafa; }
  .header .return a {
    background-image: url("../images/icon_return.png");
    background-size: 30%; }
  .header .screen a {
    background-image: url("../images/icon_screen_hlj.png");
    background-size: 50%; }

/*头部结束*/
/*搜索结果开始*/
.content-list {
  margin-top: 1rem;
  padding-top: 8px; }
  .content-list .content {
    width: 100%;
    height: 3.7rem;
    margin-top: 6px;
    padding: 5px;
    border-radius: 2px;
    position: relative;
    background: #fff;
    box-shadow: 0 0 8px rgba(152, 152, 152, 0.75); }
    .content-list .content > .img {
      width: 34%;
      height: 100%;
      float: left; }
      .content-list .content > .img > a {
        display: block;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-image: url(../images/book_result.png);
        background-size: cover; }
    .content-list .content .message {
      width: 65%;
      height: 100%;
      padding: 0 5px;
      float: right;
      position: relative; }
      .content-list .content .message > h5 {
        font-size: 14px;
        color: #333;
        margin-left: -5px; }
      .content-list .content .message > h6 {
        font-size: 12px;
        color: #999; }
      .content-list .content .message p {
        margin-top: 5px;
        font-size: 12px;
        max-height: 5.2em;
        line-height: 1.3em;
        overflow: hidden; }
      .content-list .content .message .mess {
        width: 100%;
        margin-top: 5px;
        position: absolute;
        bottom: 20px; }
        .content-list .content .message .mess > h6, .content-list .content .message .mess h6 > strong, .content-list .content .message .mess > h6 span {
          font-size: 12px;
          color: #979797;
          line-height: 1.3em; }
    .content-list .content .message .star {
      width: 100%;
      height: 0.24rem;
      position: absolute;
      bottom: 5px; }
      .content-list .content .message .star li i {
        display: block;
        float: left;
        margin-right: 1px;
        width: 12px;
        height: 12px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover; }
      .content-list .content .message .star .star_grey i {
        background-image: url("../images/icon_star_grey.png"); }
      .content-list .content .message .star .star_yellow i {
        background-image: url("../images/icon_star_yellow.png"); }
    .content-list .content .check {
      width: 1.83rem;
      height: 0.57rem;
      border-radius: 15px;
      position: absolute;
      right: 10px;
      bottom: 10px;
      background: url("../images/btn_check_hlj.png") center center;
      background-size: contain;
      background-color: #29a6dc; }
      .content-list .content .check a {
        display: block;
        width: 100%;
        height: 100%; }

/*搜索结果结束*/
/*键盘开始*/
.keyBoard {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100; }
  .keyBoard > img {
    width: 100%; }

/*键盘结束*/

/*# sourceMappingURL=searchResult.css.map */