@import url(../../../node_modules/base_css/base.css);
* {
  box-sizing: border-box; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

header {
  width: 100%;
  height: 1.2rem;
  background: #29A6DC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0; }
  header h1 {
    text-align: center;
    color: #FFFEFE;
    font-size: 0.45rem; }
  header .underline {
    height: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    header .underline .dian {
      background: #FFFEFE;
      width: 0.04rem;
      height: 0.04rem;
      border-radius: 50%; }
    header .underline .xian {
      width: 0.28rem;
      height: 0.02rem;
      background: #FFFEFE; }
  header h2 {
    text-align: center;
    color: #9DDFFD;
    font-size: 0.22rem;
    letter-spacing: 0.2em; }
  header .return {
    display: block;
    position: absolute;
    top: 0.35rem;
    left: 0.3rem;
    width: 0.60rem;
    height: 0.60rem;
    border-radius: 50%;
    background: url(../../../node_modules/base_images/ws_backbtn.png) center/cover no-repeat; }

.manager-body {
  flex: 1;
  margin-top: 1.2rem; }
  .manager-body .list {
    height: 1.31rem;
    display: flex;
    padding-top: 0.2rem;
    align-items: flex-start;
    border-bottom: 1px dashed #999999; }
    .manager-body .list .imgbox {
      width: 0.8rem;
      height: 0.8rem;
      margin-right: 0.15rem;
      background: url(../../../node_modules/base_images/ws_222_07.png) center/contain no-repeat; }
    .manager-body .list .contain {
      flex: 1; }
      .manager-body .list .contain h1 {
        line-height: 0.4rem;
        color: #151C2B;
        font-size: 0.34rem; }
      .manager-body .list .contain h2 {
        line-height: 0.3rem;
        color: #616161; }
      .manager-body .list .contain .items {
        display: flex;
        height: 0.4rem;
        padding-right: 20%;
        justify-content: space-between;
        align-items: center; }
        .manager-body .list .contain .items .time-item, .manager-body .list .contain .items .progress-item {
          height: 100%;
          font-size: 18px;
          display: flex;
          justify-content: space-between;
          align-items: center; }
        .manager-body .list .contain .items .time-item {
          flex: 0 0 12%; }
          .manager-body .list .contain .items .time-item .watch {
            width: 0.16rem;
            height: 0.16rem;
            background: url(../../../node_modules/base_images/ws_time.png) center no-repeat; }
        .manager-body .list .contain .items .progress-item {
          flex: 0 0 10%; }
          .manager-body .list .contain .items .progress-item .eye {
            width: 0.32rem;
            height: 0.3rem;
            background: url(../../../node_modules/base_images/ws_eye.png) center/contain no-repeat; }
  .manager-body .list:nth-child(1) .contain .items .time-item {
    flex: 0 0 25%; }
  .manager-body .bookmark {
    height: 1.6rem;
    background: url(../../../node_modules/base_images/ws_bg_07.png) center/cover no-repeat;
    display: flex; }
    .manager-body .bookmark .contain {
      flex: 0 0 88%; }
      .manager-body .bookmark .contain .center {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        padding-right: 8%; }
      .manager-body .bookmark .contain h1 {
        line-height: 0.6rem;
        font-size: 0.34rem;
        color: #F9F9F9; }
      .manager-body .bookmark .contain h2 {
        line-height: 0.4rem;
        font-size: 0.26rem;
        color: #F9F9F9; }
      .manager-body .bookmark .contain .items {
        height: 0.58rem;
        display: flex;
        justify-content: space-between; }
        .manager-body .bookmark .contain .items .time-item, .manager-body .bookmark .contain .items .progress-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 0.2rem;
          color: #FFFEFE; }
        .manager-body .bookmark .contain .items .time-item {
          flex: 0 0 12%; }
          .manager-body .bookmark .contain .items .time-item .watch {
            width: 0.24rem;
            height: 0.24rem;
            background: url(../../../node_modules/base_images/ws_time.png) center/contain no-repeat; }
        .manager-body .bookmark .contain .items .progress-item {
          flex: 0 0 10%; }
          .manager-body .bookmark .contain .items .progress-item .eye {
            width: 0.32rem;
            height: 0.28rem;
            background: url(../../../node_modules/base_images/ws_baiyan_10.png) center/cover no-repeat; }
    .manager-body .bookmark .cancel {
      flex: 0 0 12%;
      background: url(../../../node_modules/base_images/ws_chahao_07.png) center no-repeat; }
