@charset "UTF-8";
.zyj_header .left, .zyj_header .right, .zyj_content .zyj_menu li .shuxian {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0; }

.zyj_content .zyj_menu li .font {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

@font-face {
  font-family: 'PingFang Medium';
  src: url("../fonts/PingFang Medium.ttf"); }

@font-face {
  font-family: 'PingFang Regular';
  src: url("../fonts/PingFang Regular.ttf"); }

html {
  font-size: 100px; }

@media (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media (min-width: 360px) {
  html {
    font-size: 48px; } }

@media (min-width: 375px) {
  html {
    font-size: 50px; } }

@media (min-width: 412px) {
  html {
    font-size: 54.93333px; } }

@media (min-width: 414px) {
  html {
    font-size: 55.2px; } }

@media (min-width: 750px) {
  html {
    font-size: 100px; } }

body {
  font-size: 16px;
  background: #FAFAFA;}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: "苹方","SanFranciscoDisplay Regular",sans-serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

img {
  border: 0; }

.row {
  min-height: 1px; }
  .row::after {
    content: '';
    clear: both; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  float: left;
  position: relative; }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

.zyj_header {
  position: relative;
  height: 1rem;
  width: 100%;
  background: #29a6dc;
  padding: 0 24px; }
  .zyj_header .center {
    width: 4.7rem;
    height: 1rem;
    margin: 0 auto; }
    .zyj_header .center h5 {
      color: #fff;
      font-size: 0.36rem;
      padding-top: 10px;
      text-align: center; }
    .zyj_header .center h4 {
      font-size: 0.16rem;
      text-align: center;
      color: #90dcff; }
    .zyj_header .center .xian {
      background: url("../lx_images/geren03.jpg") no-repeat center center;
      margin: 0 auto;
      width: 0.42rem;
      height: 0.04rem; }
  .zyj_header .left {
    width: 0.5rem;
    height: 0.5rem;
    background-image: url("../lx_images/shezhi01.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    left: 24px; }
  .zyj_header .right {
    width: 0.5rem;
    height: 0.5rem;
    background-image: url("../lx_images/geren02.jpg");
    background-size: contain;
    right: 24px; }

.zyj_content {
  width: 100%;
  height: 1.25rem;
  
  /*overflow: hidden;*/
    /*height: 100%;*/
  background: #fafafa;
  padding-top: 10px; }
  .zyj_content .zyj_menu {
    width: 5.7rem;
    height: 0.85rem;
    background: #2a3441;
    border-radius: 60px;
    margin: 0 auto; }
    .zyj_content .zyj_menu li {
      width: 50%;
      float: left;
      height: 0.85rem;
      position: relative; }
      .zyj_content .zyj_menu li .zyj_color {
        background: #29a6dc;
        border: 2px solid #fff; }
      .zyj_content .zyj_menu li .font {
        width: 2.5rem;
        height: 0.65rem;
        text-align: center;
        border-radius: 60px; }
        .zyj_content .zyj_menu li .font h2 {
          font-size: 0.24rem;
          color: #fff; }
        .zyj_content .zyj_menu li .font h4 {
          font-size: 0.12rem;
          color: #fff; }
      .zyj_content .zyj_menu li .shuxian {
        width: 0.04rem;
        height: 0.63rem;
        background: url("../lx_images/xinxi01.png") no-repeat;
        background-size: contain;
        position: absolute;
        right: 0; }
  .zyj_content .con-list {
    width: 7.1rem;
    height: 5.75rem;
    margin: 10px auto;
    border-radius:2px;
    box-shadow: 0 0 5px #E7E7E7;
      }
    .zyj_content .con-list li:nth-child(1) .list-left {
      background: url("../lx_images/xinxi11.jpg");
      background-repeat: no-repeat;
      background-size: contain; }
    .zyj_content .con-list li:nth-child(2) .list-left {
      background: url("../lx_images/xinxi11.jpg");
      background-repeat: no-repeat;
      background-size: contain; }
    .zyj_content .con-list li:nth-child(3) .list-left {
      background: url("../lx_images/xinxi11.jpg");
      background-repeat: no-repeat;
      background-size: contain; }
    .zyj_content .con-list li:nth-child(4) .list-left {
      background: url("../lx_images/xinxi11.jpg");
      background-repeat: no-repeat;
      background-size: contain; }
    .zyj_content .con-list li:nth-child(5) .list-left {
      background: url("../lx_images/xinxi11.jpg");
      background-repeat: no-repeat;
      background-size: contain; }
    .zyj_content .con-list li {
      width: 100%;
      height: 1.15rem;
      position: relative;
      border-bottom: 1px dotted #999; 
              background: #fff; 
      display: flex;
      align-items:center;
      justify-content:space-between;
      }
      .zyj_content .con-list li .list-left {
        width: 0.68rem;
        height: 0.7rem;
        background-size: contain;
        float: left;}
      .zyj_content .con-list li .list-font {
        width: 66%;
        height: 1rem;
        float: left; }
        .zyj_content .con-list li .list-font .banben {
          font-size: 0.25rem;
          padding-top: 0.2rem; }
        .zyj_content .con-list li .list-font h4 {
          color: #666;
          font-size: 0.12rem; }
        .zyj_content .con-list li .list-font h5 {
          line-height: 100%;
          color: #BDBDBD;
          font-size: 0.02rem; }
      .zyj_content .con-list li .list-font-right {
        position: absolute;
        right: 0.6rem;
        top: 0.3rem; }
      .zyj_content .con-list li .next {
        float: right;
        width: 1.6rem;
        height: 0.23rem;
         }
        .zyj_content .con-list li .next .biao {
          width: 0.2rem;
          height: 0.2rem;
          background: url("../lx_images/xinxi12.jpg") bottom center;
          background-size: cover;
          float: left;  }
        .zyj_content .con-list li .next .time {
          float: right;
          font-size: 0.12rem; 
          line-height: 100%;
          color: #BDBDBD;
          }
