@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

.zzt_header .zzt_headerson .zzt_szbox, .neirongdabox .neirongbox .neirongflbox .bbtubiao, .neirongdabox .neirongbox .neirongflbox .bbsmzibox {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.zzt_header .zzt_headerson .grzxcenterbox .grzxbox, .zzt_header .zzt_headerson .grzxcenterbox .xiantiaobox, .zzt_header .zzt_headerson .grzxcenterbox .touywxjbox {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.zzt_header .zzt_headerson .grzxcenterbox, .neirongdabox .neirongbox {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

.row {
  overflow: hidden;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  float: left;
  position: relative;
}

html {
  font-size: 100px;
}

@media (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}

@media (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

@media (min-width: 750px) {
  html {
    font-size: 100px;
  }
}

body {
  font-size: 14px;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

/*头部*/
.zzt_header {
  width: 100%;
  height: 1rem;
  background: #29a6dc;
}

.zzt_header .zzt_headerson {
  height: 1rem;
  padding: 0rem 0.24rem;
  position: relative;
}

.zzt_header .zzt_headerson .zzt_szbox {
  width: 0.57rem;
  height: 0.56rem;
  background: url("../img/zzt_fanhui_03.png");
  background-size: 0.57rem 0.56rem;
  left: 0.24rem;
}

.zzt_header .zzt_headerson .grzxcenterbox {
  width: 2rem;
  height: 1rem;
}

.zzt_header .zzt_headerson .grzxcenterbox .grzxbox {
  width: 1.45rem;
  height: 0.34rem;
  top: 0.15rem;
  text-align: center;
}

.zzt_header .zzt_headerson .grzxcenterbox .grzxbox span {
  font-size: 0.36rem;
  color: #fafafa;
}

.zzt_header .zzt_headerson .grzxcenterbox .xiantiaobox {
  width: 0.35rem;
  height: 0.04rem;
  top: 0.56rem;
}

.zzt_header .zzt_headerson .grzxcenterbox .xiantiaobox .xiaoxiantiao {
  width: 0.35rem;
  height: 0.05rem;
  background: url("../img/zzt_xiaoxian.png") no-repeat;
  background-size: 0.35rem 0.04rem;
}

.zzt_header .zzt_headerson .grzxcenterbox .touywxjbox {
  width: 100%;
  height: 0.15rem;
  top: 0.65rem;
  font-size: 0.20rem;
  color: #90dcff;
  text-align: center;
  line-height: 0.15rem;
  font-family: "Tahoma";
}

/*标题开始*/
.btwdxxdabox {
  width: 100%;
  height: 1.12rem;
  background: #fafafa;
  float: left;
}

.btwdxxdabox .btboxfather {
  width: 5.74rem;
  height: 0.85rem;
  background: #2a3441;
  border-radius: 0.40rem;
  margin: 0.13rem auto;
}

.btwdxxdabox .btboxfather .xtxxdabox {
  width: 2.41rem;
  height: 0.68rem;
  background: #29a6dc;
  border-radius: 0.40rem;
  float: left;
  margin-left: 0.08rem;
  margin-top: 0.08rem;
  border: 1px solid #fff;
  box-sizing: border-box;
}

.btwdxxdabox .btboxfather .xtxxdabox .xtxxtubiao {
  width: 1.40rem;
  height: 0.35rem;
  background: url("../img/xtxx_11.png");
  background-size: 1.40rem 0.35rem;
  margin: 0.16rem auto;
}

.btwdxxdabox .btboxfather .xtxxdabox2 {
  width: 2.41rem;
  height: 0.68rem;
  background: #2a3441;
  border-radius: 0.40rem;
  float: right;
  margin-right: 0.08rem;
  margin-top: 0.08rem;
}

.btwdxxdabox .btboxfather .xtxxdabox2 .wdxxtubiao {
  width: 1.40rem;
  height: 0.35rem;
  background: url("../img/wdxx_11.png");
  background-size: 1.40rem 0.35rem;
  margin: 0.16rem auto;
}

.btwdxxdabox .btboxfather .xtxxfgxbox {
  width: 0.03rem;
  height: 0.59rem;
  background: url("../img/wdxxfgx_11.png") no-repeat center center;
  background-size: 0.03rem 0.59rem;
  float: left;
  margin-left: 0.36rem;
  margin-top: 0.13rem;
}

/*内容*/
.neirongdabox {
  width: 100%;
  height: 6.18rem;
  background: #fafafa;
  float: left;
  position: relative;
}

.neirongdabox .neirongbox {
  width: 7.04rem;
  height: 6.18rem;
  background: #ffffff;
  box-shadow: 0 0 0.15rem #a6a2a2;
  border-radius: 0.04rem;
}

.neirongdabox .neirongbox .neirongflbox {
  width: 100%;
  height: 0.90rem;
  border-bottom: 1px dashed #8b8989;
  box-sizing: border-box;
  float: left;
  position: relative;
}

.neirongdabox .neirongbox .neirongflbox .bbtubiao {
  width: 0.36rem;
  height: 0.35rem;
  background: url("../img/xtxx1_22.png") no-repeat;
  background-size: 0.33rem 0.33rem;
  left: 0.16rem;
}

.neirongdabox .neirongbox .neirongflbox .bbsmzibox {
  width: 6.33rem;
  height: 0.46rem;
  left: 0.70rem;
}

.neirongdabox .neirongbox .neirongflbox .bbsmzibox .bbsmsonbox {
  width: 50%;
  height: 100%;
  float: left;
}

.neirongdabox .neirongbox .neirongflbox .bbsmzibox .bbsmsonbox .tjxsbox {
  width: 1.48rem;
  height: 0.46rem;
  background: url("../img/xstj_22.png");
  background-size: 1.48rem 0.46rem;
}

.neirongdabox .neirongbox .neirongflbox .bbsmzibox .bbsmsonbox2 {
  width: 50%;
  height: 100%;
  float: right;
}

.neirongdabox .neirongbox .neirongflbox .bbsmzibox .bbsmsonbox2 .v10 {
  font-size: 0.28rem;
  float: right;
  margin-top: 0.03rem;
  margin-right: 0.05rem;
}

.neirongdabox .neirongbox .neirongflbox .bbsmzibox .bbsmsonbox2 .neiyouzixiang {
  width: 0.16rem;
  height: 0.20rem;
  background: url("../img/zzt_yjt.png");
  background-size: 0.16rem 0.20rem;
  float: right;
  margin-top: 0.11rem;
  margin-right: 0.31rem;
}

body {
  background: #fafafa;
}
