@mixin rect($width:300px,$height:100px){
    width:$width;
    height:$height;
}
@mixin cube($size){
    width:$size;
    height:$size;
}
@mixin circle($size){
    @include cube($size);
    border-radius: 50%;
}
@function randomColor(){
    $red:random(255);
    $blue:random(255);
    $green:random(255);
    @return rgba($red,$blue,$green,0.5);
}
@mixin bg($color){
    @if ($color){
        background-color: $color;
    }@else {
        background-color: randomColor();
    }
}
%tb{
    position: absolute;
    top:0;
    bottom:0;
    margin:auto 0 ;
}
%lr{
    position: absolute;
    left:0;
    right:0;
    margin:0 auto;
}
%center{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
}
%cover{
    position: absolute;
    left:0;
    top:0;
}