.top-corner .book-name {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.top-corner .line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.top-corner {
    width: 100%;
    height: 0.28rem;
    padding: 0 0.24rem;
    background: #ffe7a7;
    position: fixed;
    top: 0;
    left: 0;
}

.top-corner .line {
    width: 90%;
    height: 1px;
    background: #7b6c55;
}

.top-corner .book-name {
    left: 0.5rem;
    padding: 0 0.08rem;
    font-size: 12px;
    line-height: 0.28rem;
    color: #7b6c55;
    background: #ffe7a7;
}

.content {
    background: #ffe7a7;
    min-height: 14rem;
}

.content .con {
    padding-top: 0.5rem;
    padding-left: 0.24rem;
    padding-right: 0.24rem;
    padding-bottom: 0.25rem;
}

.content .con h1 {
    font-size: 0.3rem;
}

.content .con p {
    text-indent: 2em;
    line-height: 0.55rem;
    font-size: 0.12rem;
}

.bottom-corner {
    width: 100%;
    height: 0.28rem;
    padding: 0 0.24rem;
    background: #ffe7a7;
    position: fixed;
    bottom: 0;
    z-index: 3;
    font-size: 0.12rem;
    line-height: 0.28rem;
    background: #ffe7a7;
}

.bottom-corner p, .bottom-corner span, .bottom-corner i {
    font-size: 0.12rem;
    line-height: 0.28rem;
}

.bottom-corner .chapter {
    float: left;
}

.bottom-corner .page {
    float: right;
}
