@import url(../../../node_modules/base_css/base.css);
body, html {
  height: 100%;
  background: #f2f2f2; }

header {
  height: 37.18%;
  width: 100%;
  background: #29a6dc; }
  header .title {
    flex: 1;
    height: 1.1rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-family: 'PingFang Medium'; }
  header p {
    width: 42%;
    box-sizing: border-box;
    padding-left: 0.38rem; }
  header .return {
    width: 0.4rem;
    height: 0.4rem;
    display: block;
    border: 2px solid #0d6fbf;
    border-radius: 50%;
    transform: rotate(180deg);
    background: #fff url("../../../node_modules/base_images/icon_return.png") no-repeat center/0.13rem; }
  header h1 {
    flex: 1;
    color: #fff;
    font-size: 0.32rem; }
  header .logo {
    height: calc(100% - 1.1rem);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'PingFang Bold'; }

aside {
  width: 100%;
  height: 24.14%;
  font-size: 0.22rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0a196b; }
  aside p {
    line-height: 1.5; }
  aside p:nth-child(2) {
    text-align: right; }

main {
  width: 100%;
  height: 34.45%;
  display: flex;
  align-items: center; }
  main form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-content: space-between; }
    main form .pass {
      width: 6.06rem;
      height: 0.88rem;
      background: #fff;
      border: 1px solid #3a91fd;
      border-radius: 0.5rem; }
      main form .pass i {
        width: 0.45rem;
        height: 100%;
        float: left;
        margin: 0 0.4rem;
        background: url("../../../node_modules/base_images/icon_password.png") no-repeat center/0.45rem; }
      main form .pass input {
        width: calc(100% - 1.8rem);
        height: 100%;
        font-size: 0.28rem;
        outline: none; }
    main form .Retrieve {
      width: 70%;
      height: 0.58rem;
      display: flex;
      align-items: baseline; }
      main form .Retrieve > div {
        flex: 1;
        flex-flow: row wrap;
        font-size: 0.22rem; }
        main form .Retrieve > div i {
          width: 0.25rem;
          height: 0.25rem;
          float: left;
          margin: 0 0.15rem;
          background: url("../../../node_modules/base_images/icon_key.png") no-repeat center/0.25rem; }
      main form .Retrieve > div:nth-child(2) {
        text-align: right; }
        main form .Retrieve > div:nth-child(2) i, main form .Retrieve > div:nth-child(2) span {
          float: right; }
        main form .Retrieve > div:nth-child(2) i {
          background: url("../../../node_modules/base_images/icon_sign.png") no-repeat center/0.25rem; }
    main form .button {
      width: 76%;
      height: 0.68rem;
      background: #3abffd;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      main form .button span {
        width: 5px;
        height: 5px;
        background: #fff;
        display: block;
        margin-left: 0.3rem; }
      main form .button span.dian2 {
        margin: 0;
        margin-right: 0.3rem; }
      main form .button button {
        background: transparent;
        outline: none;
        border: 0;
        color: #fff;
        height: 100%;
        width: auto;
        font-size: 0.28rem; }
