@import url(../../../node_modules/base_css/base.css);
body, html {
  height: 100%;
  background: #f2f2f2; }

header {
  height: 10.93%;
  background: #29a6dc; }
  header .title {
    height: 100%;
    padding-top: 0.4rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-family: 'PingFang Medium'; }
  header .input {
    height: 0.54rem;
    flex: 1;
    background: #f6f6f6;
    box-shadow: 0 0 0.1rem #666;
    border-radius: 50px;
    display: flex;
    font-size: 0.22rem; }
    header .input input {
      border-radius: 50px;
      outline: none;
      padding-left: 0.57rem;
      flex: 1;
      background: #f6f6f6 url("../../../node_modules/base_images/icon_search_grey.png") no-repeat 5% 50%/0.26rem; }
  header p {
    width: 1.03rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    header p a {
      display: block;
      width: 0.4rem;
      height: 0.4rem;
      border-radius: 50%;
      border: 2px solid #0d6fbf;
      background: #fff url("../../../node_modules/base_images/icon_return.png") no-repeat center/0.13rem; }
  header p:nth-child(3) a {
    background: #fff url("../../../node_modules/base_images/icon_mic_hlj.png") no-repeat center/0.13rem; }

main {
  height: 59.53%; }
  main .remen {
    width: 100%;
    height: 1.03rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-left: 0.22rem; }
    main .remen .title, main .remen p {
      height: 0.32rem;
      display: flex; }
    main .remen p {
      font-size: 0.18rem;
      padding-left: 0.45rem;
      color: #a4a4a4; }
    main .remen h1 {
      font-size: 0.3rem; }
    main .remen .img {
      width: 0.32rem;
      height: 0.32rem;
      margin-right: 0.15rem;
      border-radius: 50%;
      background: #ffc63e url("../../../node_modules/base_images/icon_collect_hlj.png") no-repeat center/0.25rem; }
    main .remen .img1 {
      width: 0.3rem;
      height: 100%;
      margin-left: 0.2rem;
      background: url("../../../node_modules/base_images/st_05.png") no-repeat left bottom/0.3rem; }
  main .list {
    width: 100%;
    height: 100%; }
    main .list .item {
      width: 93.6%;
      box-sizing: border-box;
      height: 1.68rem;
      margin: 0.17rem 0.22rem;
      border-radius: 0.05rem;
      background: #fff;
      display: flex; }
    main .list .img {
      width: 2.46rem;
      height: 1.52rem;
      padding: 0.1rem 0.1rem;
      border-right: 1px dashed #c7c7c7; }
      main .list .img img {
        width: 100%;
        height: 100%; }
    main .list .item-con {
      flex: 1;
      display: flex;
      box-sizing: border-box;
      padding: 0 0 0.1rem 0.16rem;
      flex-direction: column;
      align-content: space-between; }
      main .list .item-con h3 {
        line-height: 1.8;
        font-size: 0.28rem;
        color: #a5a5a5;
        padding-right: 0.54rem; }
      main .list .item-con .content {
        color: #999999;
        font-size: 0.22rem;
        line-height: 1.5;
        padding-right: 0.54rem; }
    main .list .assist {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between; }
      main .list .assist p {
        overflow: hidden;
        display: flex;
        width: 60%;
        align-items: center; }
        main .list .assist p i {
          width: 20%;
          height: 100%;
          display: block;
          background: url("../../../node_modules/base_images/icon_publish.png") no-repeat 50%/0.24rem; }
        main .list .assist p span {
          width: 80%;
          height: 0.24rem;
          font-size: 0.16rem;
          color: #999999;
          line-height: 0.24rem; }
      main .list .assist p:nth-child(2) {
        width: 40%;
        float: right; }
    @media screen and (max-width: 460px) {
      main .list .item-con .content {
        padding-right: 0.2rem;
        line-height: 1.3; }
      main .list .item-con .assist p span {
        height: 100%;
        line-height: 2.4; } }
    @media screen and (max-width: 360px) {
      main .list .item-con .content {
        padding-right: 0.2rem; }
      main .list .item-con .assist p span {
        height: 100%;
        line-height: 1.8; } }
