@import url("../../../node_modules/base_css/base.css");
* {
    box-sizing: border-box;
}
.xj_header {
    width: 100%;
    height: 1.4rem;
    background: #29a6dc;
}
body{
    background:  #fafafa;
  
    justify-content: flex-end
}
.head {
    width: 100%;
    height: 100%;
    padding: 0 0.24rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.xj_left {
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background: url("../img/geren01.jpg");
    background-size: cover;
}
.xj_right {
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background: url("../img/geren02.jpg");
    background-size: cover;
}
.center {
    height: 100%;
    width: 1.65rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    h5 {
            font-size: 0.35rem;
        letter-spacing: 0.05rem;
    font-weight: 500;
   
  font-family: '宋体' "微软雅黑" 'SanFranciscoDisplay Regular' sans-serif;
//font-size: 16px; 
//      font-size: 0.36rem;
        color: #fff;
//      font-size: 0.36rem;
        padding-top: 0.1rem;
        text-align: center;
    }
    .xian {
        width: 0.42rem;
        height: 0.04rem;
        background: url("../img/geren03.jpg");
        background-size: cover;
    }
    h4 {
        font-size: 0.16rem;
        text-align: center;
        color: #90dcff;
        margin-bottom: 0.1rem;
    }
}

.xj_version {
    width: 100%;
    height: 4rem;
    padding: 0.2rem 0.24rem 0.24rem 0.24rem;
     box-sizing: border-box;
    .xj_xinx {
        width: 100%;
        height: 100%;
        
        box-shadow: 0 0 8px #ccc;
        .xj_one {
            width: 100%;
            height: 25%;
            border-bottom: 2px dotted #999;
              display: flex;
              justify-content: space-between;
              display: flex;
//justify-content: center;
  align-items: center;
            .fly{
                    width: 0.32rem;
                    height: 0.32rem;
                    background: url(../img/geren06.jpg);
                    margin-left: 0.2rem;
                    background-size: cover;
            }
        }
    }
}
.xj_shuoming{
                  display: flex;
              justify-content: space-between;
    }
.xj_banben{
    margin-left: 0.2rem;
    color: black;
    .xj_sm{
       
            font-size: 0.26rem;
    font-weight: 500;
    }
    .xj_che{
            font-size: 0.16rem;
            margin-top: 0.2rem;
    }
}
.xj_xiangr{
    display: flex;
  justify-content: space-between;
}
.xj_xiangr p{
    background: url(../img/shezhi06.jpg)no-repeat center center;
    width: 0.91rem;
    height: 0.43rem;
   background-size: cover;
}
.xj_v1{
    font-size: 0.28rem;
    margin-right: 0.4rem;
}
.xj_new{
    width: 0.32rem;
    height: 0.32rem;
    background: url(../img/geren08.jpg);
    margin-left: 0.2rem;
    background-size: cover;
}
.xj_lianxi{
     width: 0.32rem;
    height: 0.32rem;
    background: url(../img/geren09.jpg);
    margin-left: 0.2rem;
    background-size: cover;
}
.xj_yijian{
     width: 0.32rem;
    height: 0.32rem;
    background: url(../img/geren10.jpg);
    margin-left: 0.2rem;
    background-size: cover;
}
 .xj_sm1{
        font-size: 0.25rem;
    }
    

.xj-foot {
  width: 100%;
  height: 1.54rem;
  background: #fafafa; 
  position: absolute;
  bottom:0;
  }
  .xj-foot .foot {
    width: 5.6rem;
    height: 0.6rem;
    background: #28dd8b;
    border-radius: 50px;
    margin: 0 auto;
    text-align: center;
    position: relative; 
       display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .xj-foot .foot span {
      font-size: 0.3rem;
      color: #fff; }
    .xj-foot .foot .foot-left {
      width: 0.1rem;
      height: 0.1rem;
      border-radius: 50%;
      background: #fff;
      left: 0.3rem; }
    .xj-foot .foot .foot-right {
      width: 0.1rem;
      height: 0.1rem;
      border-radius: 50%;
      background: #fff;
      right: 0.3rem; }
//遮罩
.xj_zhao{
    width: 100%;
    height: 100%;
    background: #999999;
    opacity: 0.5;
    position: fixed;
    top:0;
    
    
}
.xiuxi{
    width: 4.78rem;
    height: 5.61rem;
    background-color: #fff;
    position: fixed;
    top:25%;
    left: 20%;
    z-index: 23;
    border-radius: 0.2rem;
    h2{
        width: 100%;
        height:0.82rem;
        background: url(../img/xiuxi.png);
        background-size: cover;
    }
    
    }
.content{
    width: 100%;
    height: 3.27rem;
    padding: 0 0.24rem;
    li{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 25%;
        border-bottom: 1px dotted #999999;
        p:nth-child(1){
            font-size: 0.24rem;
            font-family: '苹方';
        }
        p:nth-child(2){
            font-size: 0.16rem;
            font-family: '苹方';
        }
        a{
           display: block;
           width: 0.3rem;
           height: 0.3rem;
           background: url(../img/dayuan_09.png);
           background-size:cover;
        }
        .read{
           display: block;
           width: 0.3rem;
           height: 0.3rem;
           background: url(../img/dayuan_13.png);
           background-size:cover;
        }  
    }
}  
.anniu{
    width: 100%;
    height:1.52rem ;
    padding: 0 0.24rem;
    display: flex;
     display: flex;
  justify-content: space-between;
  align-items: center;
    li:nth-child(1){
        width: 1.95rem;
        height: 0.58rem;
        background: url(../img/quxiao.png);
        background-size:cover;
    }
    li:nth-child(2){
        width: 1.95rem;
        height: 0.58rem;
        background: url(../img/qued05.png);
        background-size:cover;
    }
}
