@import url("../../../node_modules/base_css/base.css");
* {
  	box-sizing: border-box;
  	margin: 0px;
  	padding: 0px;
  	list-style: none;
  	font-weight: normal;
  	font-style: normal;
  	text-decoration: none; 
}
img{
	border: 0;
}
.nt-nav{
	width: 100%;
  	height: 1.2rem;
  	padding: 0 0.24rem;
  	background: #29a6dc;
  	position: fixed;
}
.nt-back {
    width: 0.44rem;
    height: 100%;
    background: url("../../../node_modules/base_images/ws-back.png") center center no-repeat;
    background-size: 0.44rem 0.44rem;
    float: left;
}
.nt-download {
    width: 0.44rem;
    height: 100%;
    background: url("../../../node_modules/base_images/ws_download_06.png") center center no-repeat;
    background-size: 0.44rem 0.44rem;
    float: right; 
}
.nt-add-tag{
	width: 0.44rem;
    height: 100%;
    background: url("../../../node_modules/base_images/ws_add-tag.png") center center no-repeat;
    background-size: 0.44rem 0.44rem;
    float: right;
    margin-right: 0.3rem;
}
.nt-content {
  	background: #ffe7a7;
 	  min-height: 14rem;
}
.nt-content .nt-con {
	padding-top: 1.4rem;
	padding-left: 0.24rem;
	padding-right: 0.24rem;
	padding-bottom: 0.25rem;
}
.nt-content .nt-con h1 {
    font-size: 0.3rem;
    font-weight: bold; 
}
.nt-content .nt-con p {
    text-indent: 2em;
    font-size: 0.14rem;
    margin-top: 0.25rem; 
    line-height: 0.26rem;
    padding-left: 0.26rem;
    padding-right: 0.26rem;
}
.nt-bottom{
	width: 100%;
	height: 1.8rem;
	background: #151c2b;
	position: fixed;
	left: 0;
  	bottom: 0;
 	padding: 0 0.24rem;
}
.nt-up-down{
	width: 6.64rem;
	height: 0.24rem;
	margin: 0.2rem auto;
}
.nt-up-down li{
	float: left;
}
.nt-up-down li:nth-child(1),.nt-up-down li:nth-child(3){
	width: 10%;
    line-height: 0.24rem;
    text-align: center;

}
.nt-up-down li:nth-child(1) span,.nt-up-down li:nth-child(3) span{
	font-size: 0.24rem;
    color: #c6c6c6;
}
.nt-up-down li:nth-child(2){
	width: 60%;
    margin-top: 0.06rem;
}
.nt-up-down li:nth-child(2) .nt-line{
    width: 100%;
    height: 0.12rem;
    border-radius: 0.06rem;
    background: #dfdfdf;
    position: relative;
}
.nt-up-down li:nth-child(2) .nt-line .grl{
    width: 31%;
    height: 0.12rem;
    border-radius: 0.06rem;
    background: green;
    position: relative;
}
.nt-up-down li:nth-child(2) .nt-line .nt-dian{
	position: absolute;
    top: -0.06rem;
    left: 30%;
    width: 0.27rem;
    height: 0.27rem;
    background: url("../../../node_modules/base_images/ws-dian.png") no-repeat center center;
    background-size: 0.27rem 0.27rem;
}
.nt-system{
	width: 0.74rem;
    line-height: 0.31rem;
    text-align: center;
    font-size: 0.12rem;
    margin-left: 0.2rem;
    color: #ffffff;
    border: 0.02rem solid #c0c0c0;
    border-radius: 2px;
}
.nt-set{
	width: 6.2rem;
    height: 0.5rem;
    margin: 0.5rem auto;
}
.nt-set li{
	width: 2rem;
    height: 100%;
}
.nt-set li span{
	font-size: 0.12rem;
    text-align: center;
    color: #c6c6c6;
    margin-bottom: 0.1rem;
}
.nt-set li input{
  margin-top: 0.12rem;
}
.nt-set .nt-protect{
  float: left;
}
.nt-set .nt-light{
  float: right;
  margin-right: -.7rem;
}
.nt-book {
  width: 0.95rem;
  height: 0.80rem;
  position: fixed;
  z-index: 4;
  right: 0;
  top: 35%;
  background: url("../../../node_modules/base_images/ws-book.png") no-repeat center center;
  background-size: 0.95rem 0.80rem; }

.nt-evening {
  width: 0.6rem;
  height: 0.6rem;
  position: fixed;
  z-index: 4;
  left: 0.3rem;
  bottom: 20%;
  background: url("../../../node_modules/base_images/ws-moon.png") no-repeat center center;
  background-size: 0.6rem 0.6rem;
  opacity: 0.6; }