@import url("../../../node_modules/base_css/base.css");
* {
  	box-sizing: border-box;
  	margin: 0px;
  	padding: 0px;
  	list-style: none;
  	font-weight: normal;
  	font-style: normal;
  	text-decoration: none; 
}
img{
	border: 0;
}
.top-corner .book-name {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.top-corner .line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.top-corner {
    width: 100%;
    height: 0.28rem;
    padding: 0 0.24rem;
    background: #ffe7a7;
    position: fixed;
    top: 0;
    left: 0;
}

.top-corner .line {
    width: 93%;
    height: 1px;
    background: #7b6c55;
}

.top-corner .book-name {
    left: 0.5rem;
    padding: 0 0.05rem;
    font-size: 12px;
    line-height: 0.28rem;
    color: #7b6c55;
    background: #ffe7a7;
}
.nt-content {
  	background: #ffe7a7;
 	  min-height: 12.5rem;
}
.nt-content .nt-con {
	padding-top: .4rem;
	padding-left: 0.24rem;
	padding-right: 0.24rem;
	padding-bottom: 0.25rem;
}
.nt-content .nt-con h1 {
    font-size: 0.3rem;
    font-weight: bold; 
}
.nt-content .nt-con p {
    text-indent: 2em;
    font-size: 0.14rem;
    margin-top: 0.25rem; 
    line-height: 0.26rem;
    padding-left: 0.26rem;
    padding-right: 0.26rem;
}
.nt-content .nt-con p:nth-child(6){
	background: yellow;
	z-index: 999;
}
.mark{
    position: absolute;
    width: 4rem;
    height:0.5rem;
    background: #272727;
    left:0.33rem;
    top:3.2rem;
    border-radius: 0.1rem;
}
.mark li{
    float: left;
    width:20%;
    height:100%;
    border-right: 1px solid #000000;
    color: #fff;
    line-height: 0.5rem;
    text-align: center;
    font-size: 0.12rem;
}
.mark li a{
    color: #fff;
}
.mark li:last-child{
    border: 0;
}
.bottom-corner {
    width: 100%;
    height: 0.28rem;
    padding: 0 0.24rem;
    background: #ffe7a7;
    position: fixed;
    bottom: 0;
    z-index: 3;
    font-size: 0.12rem;
    line-height: 0.28rem;
}

.bottom-corner p, .bottom-corner span, .bottom-corner i {
    font-size: 0.12rem;
    line-height: 0.28rem;
}

.bottom-corner .chapter {
    float: left;
}

.bottom-corner .page {
    float: right;
}